@import '../Styles/variables';

.AnchorButtonsField {
    @media screen and (max-width:1179px){
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: block;
        position: fixed;
        top: 50%;
        right: 45px;
        transform: translateY(-50%);
        z-index: 998;
    }
    

    & ul {
        display: flex;
        flex-direction: column;

        & li:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    .ButtonLink {
        border: 1px solid $accent-color;
        
        display: inline-block;
        width: 10px;
        height: 10px;

        background-color: rgba(255, 255, 255, 0.6);

        transform: rotate(45deg);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        & span {
            opacity: 0;
        }

        &.active {
            background-color: $dark-violet; 
        }

        &:hover,
        &:focus {
            background-color: $dark-violet;
            box-shadow: 0px 0px 10px 0px $accent-color;
        }

        &.dark {
            border: 1px solid $white-color;

            &:hover,
            &:focus {
            background-color: $accent-color;
            box-shadow: none;
            opacity: 1;
        }

        &.active {
            background-color: $accent-color; 
        }
        }     
    }
}

