@import '../Styles/variables';

.MyProjectsField {
    margin-bottom: 150px;
    & h3 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 25px;
    }

    & svg {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: transparent;
        fill: $dark-violet;
        transition: all 0.3s ease;
        transform: translateZ(0);
        transition: all 0.4s ease;
    }
    
}

.MyProjectsTitle {
    margin-right: 40px;
    margin-bottom: 100px;
    text-align: end;
    font-size: 35px;

}

.MyProjectsList {
    & li {
            display: flex;
        }

    & li:not(:last-child) {
            margin-bottom: 250px;
        }

    @media screen and (min-width: $desktop) {
        
        & li:nth-child(odd) {
                justify-content: flex-start;
            }
        
            & li:nth-child(even) {
                justify-content: flex-end;
            }
    }
  
}


