@import '../Styles/variables';
.Footer{
    position: relative;
}
.FooterBackground {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 15px;
    text-align: center;
    background-color: $dark-vilolet;
    color: $white-color;

    &.dark {
    background-color: $dark-purple;
    }

    @media screen and (max-width: 767px){
        & p{
            margin: 0 auto;
            width: 250px;
            line-height: 25px;
        }
    }
}
       
.DecorationLine::after {
    content: " ";
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: $white-color;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.DecorationLine.dark::after {
    background-color: $dark-body-color;
}
